#main.index
  :each article in articles.slice(0,15)
    .article
      .author
        %img{src:gravitar(article.author.email, 30)}
        By #{article.author.name}
        .date{title: article.date}&= formatDate(article.date, "%Y.%m.%d")
      %h3
        %a{href: "/" + article.name}&= article.title
      = intro(article.markdown)
      %a.more{href: "/" + article.name} Read more...

#sidebar
  .aside
    = markdownEncode(description)
    %a.twitter-follow-button{href:"https://twitter.com/drewbiewubie",data-show-count:"false",data-size:"large"}
      Follow @drewbiewubie
    %script{src:"http://platform.twitter.com/widgets.js"}
  .bubble
    %h4
      Articles
    %ul
      :each article in articles.slice(0,20)
        %li
          %a{href: "/" + article.name}&=article.title
          &=" by " + article.author.name
          :if article.node
            %span.versiontag&= article.node
  .bubble
    %a.twitter-timeline{href:"https://twitter.com/drewbiewubie",data-widget-id:"329302451851251712"}
    %script{src:"http://platform.twitter.com/widgets.js"}


